div#lsystem-tabs-select.nav.nav-tabs.navbar-nav.align-self-end
  a.nav-link.active(href="#activity-tab-model", data-toggle="tab") Модель
  a.nav-link(href="#activity-tab-code", data-toggle="tab") Код
  a.nav-link(href="#activity-tab-help", data-toggle="tab") Справка
