include ../../mixins.pug

div.row
  div.col-12.col-lg-6
    canvas#attractor-canvas.img-thumbnail(width="500" height="500")
      | Ваш браузер не поддерживает canvas.
  div.col-12.col-lg-6
    form#attractor-form
      +form-row("Параметр σ")
        +sliderInput("σ", "a", 0.1, 40.0, 0.01, 5.0)
      +form-row("Параметр r")
        +sliderInput("r", "b", 0.1, 40.0, 0.01, 15.0)
      +form-row("Параметр b")
        +sliderInput("b", "c", 0.1, 40.0, 0.01, 1.0)
      +form-row("Время между итерациями")
        +sliderInput("dt", "dt", 0.00001, 0.01, 0.00001, 0.0001)
      +form-row("Число итераций (x100)")
        +sliderInput("n", "iterations", 100, 5000, 1, 5000)
    div.dropdown.m-1
      button.btn.btn-secondary.dropdown-toggle(data-toggle="dropdown")
        +octicon-desktop-download
        |
        | Сохранить как
      div.dropdown-menu
        a#save-png-btn.dropdown-item(href="#") PNG
