include ../../mixins.pug

div
  div.chart-container.position-relative
    canvas#lotkachart
div.row
  div.col-12.col-lg-6
    canvas#phasechart(width=400, height=400)
  div.col-12.col-lg-6
    form
      +form-row("Начальное число жертв")
        +sliderInput("x", "prey", 0, 5, 0.01, 0.9)
      +form-row("Начальное число хищников")
        +sliderInput("y", "pred", 0, 5, 0.01, 1.8)
      +form-row("Коэффициент прироста жертв")
        +sliderInput("α", "a", 0, 5, 0.01, 0.66)
      +form-row("Коэффициент убыли жертв")
        +sliderInput("β", "b", 0, 5, 0.01, 1.33)
      +form-row("Коэффициент убыли хищников")
        +sliderInput("γ", "c", 0, 5, 0.01, 1)
      +form-row("Коэффициент прироста хищников")
        +sliderInput("δ", "d", 0, 5, 0.01, 1)
div.row
  div.dropdown.m-1
    button.btn.btn-secondary.dropdown-toggle(data-toggle="dropdown")
      +octicon-desktop-download
      |
      | Сохранить
    div.dropdown-menu
      a#save-chart-btn.dropdown-item(href="#") График популяций
      a#save-phase-btn.dropdown-item(href="#") Фазовый портрет
