mixin octicon-alert
  span.octicon
    include ../node_modules/octicons/build/svg/alert.svg
mixin octicon-arrow-down
  span.octicon
    include ../node_modules/octicons/build/svg/arrow-down.svg
mixin octicon-arrow-left
  span.octicon
    include ../node_modules/octicons/build/svg/arrow-left.svg
mixin octicon-arrow-right
  span.octicon
    include ../node_modules/octicons/build/svg/arrow-right.svg
mixin octicon-arrow-small-down
  span.octicon
    include ../node_modules/octicons/build/svg/arrow-small-down.svg
mixin octicon-arrow-small-left
  span.octicon
    include ../node_modules/octicons/build/svg/arrow-small-left.svg
mixin octicon-arrow-small-right
  span.octicon
    include ../node_modules/octicons/build/svg/arrow-small-right.svg
mixin octicon-arrow-small-up
  span.octicon
    include ../node_modules/octicons/build/svg/arrow-small-up.svg
mixin octicon-arrow-up
  span.octicon
    include ../node_modules/octicons/build/svg/arrow-up.svg
mixin octicon-beaker
  span.octicon
    include ../node_modules/octicons/build/svg/beaker.svg
mixin octicon-bell
  span.octicon
    include ../node_modules/octicons/build/svg/bell.svg
mixin octicon-bold
  span.octicon
    include ../node_modules/octicons/build/svg/bold.svg
mixin octicon-bookmark
  span.octicon
    include ../node_modules/octicons/build/svg/bookmark.svg
mixin octicon-book
  span.octicon
    include ../node_modules/octicons/build/svg/book.svg
mixin octicon-briefcase
  span.octicon
    include ../node_modules/octicons/build/svg/briefcase.svg
mixin octicon-broadcast
  span.octicon
    include ../node_modules/octicons/build/svg/broadcast.svg
mixin octicon-browser
  span.octicon
    include ../node_modules/octicons/build/svg/browser.svg
mixin octicon-bug
  span.octicon
    include ../node_modules/octicons/build/svg/bug.svg
mixin octicon-calendar
  span.octicon
    include ../node_modules/octicons/build/svg/calendar.svg
mixin octicon-checklist
  span.octicon
    include ../node_modules/octicons/build/svg/checklist.svg
mixin octicon-check
  span.octicon
    include ../node_modules/octicons/build/svg/check.svg
mixin octicon-chevron-down
  span.octicon
    include ../node_modules/octicons/build/svg/chevron-down.svg
mixin octicon-chevron-left
  span.octicon
    include ../node_modules/octicons/build/svg/chevron-left.svg
mixin octicon-chevron-right
  span.octicon
    include ../node_modules/octicons/build/svg/chevron-right.svg
mixin octicon-chevron-up
  span.octicon
    include ../node_modules/octicons/build/svg/chevron-up.svg
mixin octicon-circle-slash
  span.octicon
    include ../node_modules/octicons/build/svg/circle-slash.svg
mixin octicon-circuit-board
  span.octicon
    include ../node_modules/octicons/build/svg/circuit-board.svg
mixin octicon-clippy
  span.octicon
    include ../node_modules/octicons/build/svg/clippy.svg
mixin octicon-clock
  span.octicon
    include ../node_modules/octicons/build/svg/clock.svg
mixin octicon-cloud-download
  span.octicon
    include ../node_modules/octicons/build/svg/cloud-download.svg
mixin octicon-cloud-upload
  span.octicon
    include ../node_modules/octicons/build/svg/cloud-upload.svg
mixin octicon-code
  span.octicon
    include ../node_modules/octicons/build/svg/code.svg
mixin octicon-comment-discussion
  span.octicon
    include ../node_modules/octicons/build/svg/comment-discussion.svg
mixin octicon-comment
  span.octicon
    include ../node_modules/octicons/build/svg/comment.svg
mixin octicon-credit-card
  span.octicon
    include ../node_modules/octicons/build/svg/credit-card.svg
mixin octicon-dashboard
  span.octicon
    include ../node_modules/octicons/build/svg/dashboard.svg
mixin octicon-dash
  span.octicon
    include ../node_modules/octicons/build/svg/dash.svg
mixin octicon-database
  span.octicon
    include ../node_modules/octicons/build/svg/database.svg
mixin octicon-desktop-download
  span.octicon
    include ../node_modules/octicons/build/svg/desktop-download.svg
mixin octicon-device-camera
  span.octicon
    include ../node_modules/octicons/build/svg/device-camera.svg
mixin octicon-device-camera-video
  span.octicon
    include ../node_modules/octicons/build/svg/device-camera-video.svg
mixin octicon-device-desktop
  span.octicon
    include ../node_modules/octicons/build/svg/device-desktop.svg
mixin octicon-device-mobile
  span.octicon
    include ../node_modules/octicons/build/svg/device-mobile.svg
mixin octicon-diff-added
  span.octicon
    include ../node_modules/octicons/build/svg/diff-added.svg
mixin octicon-diff-ignored
  span.octicon
    include ../node_modules/octicons/build/svg/diff-ignored.svg
mixin octicon-diff-modified
  span.octicon
    include ../node_modules/octicons/build/svg/diff-modified.svg
mixin octicon-diff-removed
  span.octicon
    include ../node_modules/octicons/build/svg/diff-removed.svg
mixin octicon-diff-renamed
  span.octicon
    include ../node_modules/octicons/build/svg/diff-renamed.svg
mixin octicon-diff
  span.octicon
    include ../node_modules/octicons/build/svg/diff.svg
mixin octicon-ellipsis
  span.octicon
    include ../node_modules/octicons/build/svg/ellipsis.svg
mixin octicon-eye
  span.octicon
    include ../node_modules/octicons/build/svg/eye.svg
mixin octicon-file-binary
  span.octicon
    include ../node_modules/octicons/build/svg/file-binary.svg
mixin octicon-file-code
  span.octicon
    include ../node_modules/octicons/build/svg/file-code.svg
mixin octicon-file-directory
  span.octicon
    include ../node_modules/octicons/build/svg/file-directory.svg
mixin octicon-file-media
  span.octicon
    include ../node_modules/octicons/build/svg/file-media.svg
mixin octicon-file-pdf
  span.octicon
    include ../node_modules/octicons/build/svg/file-pdf.svg
mixin octicon-file-submodule
  span.octicon
    include ../node_modules/octicons/build/svg/file-submodule.svg
mixin octicon-file
  span.octicon
    include ../node_modules/octicons/build/svg/file.svg
mixin octicon-file-symlink-directory
  span.octicon
    include ../node_modules/octicons/build/svg/file-symlink-directory.svg
mixin octicon-file-symlink-file
  span.octicon
    include ../node_modules/octicons/build/svg/file-symlink-file.svg
mixin octicon-file-zip
  span.octicon
    include ../node_modules/octicons/build/svg/file-zip.svg
mixin octicon-flame
  span.octicon
    include ../node_modules/octicons/build/svg/flame.svg
mixin octicon-fold
  span.octicon
    include ../node_modules/octicons/build/svg/fold.svg
mixin octicon-gear
  span.octicon
    include ../node_modules/octicons/build/svg/gear.svg
mixin octicon-gift
  span.octicon
    include ../node_modules/octicons/build/svg/gift.svg
mixin octicon-gist-secret
  span.octicon
    include ../node_modules/octicons/build/svg/gist-secret.svg
mixin octicon-gist
  span.octicon
    include ../node_modules/octicons/build/svg/gist.svg
mixin octicon-git-branch
  span.octicon
    include ../node_modules/octicons/build/svg/git-branch.svg
mixin octicon-git-commit
  span.octicon
    include ../node_modules/octicons/build/svg/git-commit.svg
mixin octicon-git-compare
  span.octicon
    include ../node_modules/octicons/build/svg/git-compare.svg
mixin octicon-git-merge
  span.octicon
    include ../node_modules/octicons/build/svg/git-merge.svg
mixin octicon-git-pull-request
  span.octicon
    include ../node_modules/octicons/build/svg/git-pull-request.svg
mixin octicon-globe
  span.octicon
    include ../node_modules/octicons/build/svg/globe.svg
mixin octicon-grabber
  span.octicon
    include ../node_modules/octicons/build/svg/grabber.svg
mixin octicon-graph
  span.octicon
    include ../node_modules/octicons/build/svg/graph.svg
mixin octicon-heart
  span.octicon
    include ../node_modules/octicons/build/svg/heart.svg
mixin octicon-history
  span.octicon
    include ../node_modules/octicons/build/svg/history.svg
mixin octicon-home
  span.octicon
    include ../node_modules/octicons/build/svg/home.svg
mixin octicon-horizontal-rule
  span.octicon
    include ../node_modules/octicons/build/svg/horizontal-rule.svg
mixin octicon-hubot
  span.octicon
    include ../node_modules/octicons/build/svg/hubot.svg
mixin octicon-inbox
  span.octicon
    include ../node_modules/octicons/build/svg/inbox.svg
mixin octicon-info
  span.octicon
    include ../node_modules/octicons/build/svg/info.svg
mixin octicon-issue-closed
  span.octicon
    include ../node_modules/octicons/build/svg/issue-closed.svg
mixin octicon-issue-opened
  span.octicon
    include ../node_modules/octicons/build/svg/issue-opened.svg
mixin octicon-issue-reopened
  span.octicon
    include ../node_modules/octicons/build/svg/issue-reopened.svg
mixin octicon-italic
  span.octicon
    include ../node_modules/octicons/build/svg/italic.svg
mixin octicon-jersey
  span.octicon
    include ../node_modules/octicons/build/svg/jersey.svg
mixin octicon-kebab-horizontal
  span.octicon
    include ../node_modules/octicons/build/svg/kebab-horizontal.svg
mixin octicon-kebab-vertical
  span.octicon
    include ../node_modules/octicons/build/svg/kebab-vertical.svg
mixin octicon-keyboard
  span.octicon
    include ../node_modules/octicons/build/svg/keyboard.svg
mixin octicon-key
  span.octicon
    include ../node_modules/octicons/build/svg/key.svg
mixin octicon-law
  span.octicon
    include ../node_modules/octicons/build/svg/law.svg
mixin octicon-light-bulb
  span.octicon
    include ../node_modules/octicons/build/svg/light-bulb.svg
mixin octicon-link-external
  span.octicon
    include ../node_modules/octicons/build/svg/link-external.svg
mixin octicon-link
  span.octicon
    include ../node_modules/octicons/build/svg/link.svg
mixin octicon-list-ordered
  span.octicon
    include ../node_modules/octicons/build/svg/list-ordered.svg
mixin octicon-list-unordered
  span.octicon
    include ../node_modules/octicons/build/svg/list-unordered.svg
mixin octicon-location
  span.octicon
    include ../node_modules/octicons/build/svg/location.svg
mixin octicon-lock
  span.octicon
    include ../node_modules/octicons/build/svg/lock.svg
mixin octicon-logo-gist
  span.octicon
    include ../node_modules/octicons/build/svg/logo-gist.svg
mixin octicon-logo-github
  span.octicon
    include ../node_modules/octicons/build/svg/logo-github.svg
mixin octicon-mail-read
  span.octicon
    include ../node_modules/octicons/build/svg/mail-read.svg
mixin octicon-mail
  span.octicon
    include ../node_modules/octicons/build/svg/mail.svg
mixin octicon-markdown
  span.octicon
    include ../node_modules/octicons/build/svg/markdown.svg
mixin octicon-mark-github
  span.octicon
    include ../node_modules/octicons/build/svg/mark-github.svg
mixin octicon-megaphone
  span.octicon
    include ../node_modules/octicons/build/svg/megaphone.svg
mixin octicon-mention
  span.octicon
    include ../node_modules/octicons/build/svg/mention.svg
mixin octicon-milestone
  span.octicon
    include ../node_modules/octicons/build/svg/milestone.svg
mixin octicon-mirror
  span.octicon
    include ../node_modules/octicons/build/svg/mirror.svg
mixin octicon-mortar-board
  span.octicon
    include ../node_modules/octicons/build/svg/mortar-board.svg
mixin octicon-mute
  span.octicon
    include ../node_modules/octicons/build/svg/mute.svg
mixin octicon-no-newline
  span.octicon
    include ../node_modules/octicons/build/svg/no-newline.svg
mixin octicon-note
  span.octicon
    include ../node_modules/octicons/build/svg/note.svg
mixin octicon-octoface
  span.octicon
    include ../node_modules/octicons/build/svg/octoface.svg
mixin octicon-organization
  span.octicon
    include ../node_modules/octicons/build/svg/organization.svg
mixin octicon-package
  span.octicon
    include ../node_modules/octicons/build/svg/package.svg
mixin octicon-paintcan
  span.octicon
    include ../node_modules/octicons/build/svg/paintcan.svg
mixin octicon-pencil
  span.octicon
    include ../node_modules/octicons/build/svg/pencil.svg
mixin octicon-person
  span.octicon
    include ../node_modules/octicons/build/svg/person.svg
mixin octicon-pin
  span.octicon
    include ../node_modules/octicons/build/svg/pin.svg
mixin octicon-plug
  span.octicon
    include ../node_modules/octicons/build/svg/plug.svg
mixin octicon-plus-small
  span.octicon
    include ../node_modules/octicons/build/svg/plus-small.svg
mixin octicon-plus
  span.octicon
    include ../node_modules/octicons/build/svg/plus.svg
mixin octicon-primitive-dot
  span.octicon
    include ../node_modules/octicons/build/svg/primitive-dot.svg
mixin octicon-primitive-square
  span.octicon
    include ../node_modules/octicons/build/svg/primitive-square.svg
mixin octicon-project
  span.octicon
    include ../node_modules/octicons/build/svg/project.svg
mixin octicon-pulse
  span.octicon
    include ../node_modules/octicons/build/svg/pulse.svg
mixin octicon-question
  span.octicon
    include ../node_modules/octicons/build/svg/question.svg
mixin octicon-quote
  span.octicon
    include ../node_modules/octicons/build/svg/quote.svg
mixin octicon-radio-tower
  span.octicon
    include ../node_modules/octicons/build/svg/radio-tower.svg
mixin octicon-reply
  span.octicon
    include ../node_modules/octicons/build/svg/reply.svg
mixin octicon-repo-clone
  span.octicon
    include ../node_modules/octicons/build/svg/repo-clone.svg
mixin octicon-repo-force-push
  span.octicon
    include ../node_modules/octicons/build/svg/repo-force-push.svg
mixin octicon-repo-forked
  span.octicon
    include ../node_modules/octicons/build/svg/repo-forked.svg
mixin octicon-repo-pull
  span.octicon
    include ../node_modules/octicons/build/svg/repo-pull.svg
mixin octicon-repo-push
  span.octicon
    include ../node_modules/octicons/build/svg/repo-push.svg
mixin octicon-report
  span.octicon
    include ../node_modules/octicons/build/svg/report.svg
mixin octicon-repo
  span.octicon
    include ../node_modules/octicons/build/svg/repo.svg
mixin octicon-rocket
  span.octicon
    include ../node_modules/octicons/build/svg/rocket.svg
mixin octicon-rss
  span.octicon
    include ../node_modules/octicons/build/svg/rss.svg
mixin octicon-ruby
  span.octicon
    include ../node_modules/octicons/build/svg/ruby.svg
mixin octicon-screen-full
  span.octicon
    include ../node_modules/octicons/build/svg/screen-full.svg
mixin octicon-screen-normal
  span.octicon
    include ../node_modules/octicons/build/svg/screen-normal.svg
mixin octicon-search
  span.octicon
    include ../node_modules/octicons/build/svg/search.svg
mixin octicon-server
  span.octicon
    include ../node_modules/octicons/build/svg/server.svg
mixin octicon-settings
  span.octicon
    include ../node_modules/octicons/build/svg/settings.svg
mixin octicon-shield
  span.octicon
    include ../node_modules/octicons/build/svg/shield.svg
mixin octicon-sign-in
  span.octicon
    include ../node_modules/octicons/build/svg/sign-in.svg
mixin octicon-sign-out
  span.octicon
    include ../node_modules/octicons/build/svg/sign-out.svg
mixin octicon-smiley
  span.octicon
    include ../node_modules/octicons/build/svg/smiley.svg
mixin octicon-squirrel
  span.octicon
    include ../node_modules/octicons/build/svg/squirrel.svg
mixin octicon-star
  span.octicon
    include ../node_modules/octicons/build/svg/star.svg
mixin octicon-stop
  span.octicon
    include ../node_modules/octicons/build/svg/stop.svg
mixin octicon-sync
  span.octicon
    include ../node_modules/octicons/build/svg/sync.svg
mixin octicon-tag
  span.octicon
    include ../node_modules/octicons/build/svg/tag.svg
mixin octicon-tasklist
  span.octicon
    include ../node_modules/octicons/build/svg/tasklist.svg
mixin octicon-telescope
  span.octicon
    include ../node_modules/octicons/build/svg/telescope.svg
mixin octicon-terminal
  span.octicon
    include ../node_modules/octicons/build/svg/terminal.svg
mixin octicon-text-size
  span.octicon
    include ../node_modules/octicons/build/svg/text-size.svg
mixin octicon-three-bars
  span.octicon
    include ../node_modules/octicons/build/svg/three-bars.svg
mixin octicon-thumbsdown
  span.octicon
    include ../node_modules/octicons/build/svg/thumbsdown.svg
mixin octicon-thumbsup
  span.octicon
    include ../node_modules/octicons/build/svg/thumbsup.svg
mixin octicon-tools
  span.octicon
    include ../node_modules/octicons/build/svg/tools.svg
mixin octicon-trashcan
  span.octicon
    include ../node_modules/octicons/build/svg/trashcan.svg
mixin octicon-triangle-down
  span.octicon
    include ../node_modules/octicons/build/svg/triangle-down.svg
mixin octicon-triangle-left
  span.octicon
    include ../node_modules/octicons/build/svg/triangle-left.svg
mixin octicon-triangle-right
  span.octicon
    include ../node_modules/octicons/build/svg/triangle-right.svg
mixin octicon-triangle-up
  span.octicon
    include ../node_modules/octicons/build/svg/triangle-up.svg
mixin octicon-unfold
  span.octicon
    include ../node_modules/octicons/build/svg/unfold.svg
mixin octicon-unmute
  span.octicon
    include ../node_modules/octicons/build/svg/unmute.svg
mixin octicon-unverified
  span.octicon
    include ../node_modules/octicons/build/svg/unverified.svg
mixin octicon-verified
  span.octicon
    include ../node_modules/octicons/build/svg/verified.svg
mixin octicon-versions
  span.octicon
    include ../node_modules/octicons/build/svg/versions.svg
mixin octicon-watch
  span.octicon
    include ../node_modules/octicons/build/svg/watch.svg
mixin octicon-x
  span.octicon
    include ../node_modules/octicons/build/svg/x.svg
mixin octicon-zap
  span.octicon
    include ../node_modules/octicons/build/svg/zap.svg
