#rules-container .octicon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.input-group-plus-minus .btn {
  width: 35px;
}

#json-data {
  resize: none;
  min-width: 80%;
  min-height: 20em;
}
